extends ../../layouts/default.pug 

block main 
  .container.my-3 
    .row 
      .col-12 
        h1 Tiêu đề sản phẩm
          if (product.title)
            h1 #{product.title}

        if (product.price)
            div.product-row Giá: 
                b #{product.price}$

        if (product.discountPercentage)
            div.product-row Giảm giá: 
                b #{product.discountPercentage}%

        if (product.stock)
            div.product-row Còn lại: 
                b #{product.stock}

        if (product.thumbnail)
            div.product-row
                img.product-thumb(src=product.thumbnail)

        
        if (product.position)
            .product-row
              b Vi tri: #{product.position} 
        if (product.description)
            .product-row
              b Mô tả : #{product.description} 
        